@import "tailwindcss";

@theme inline {
  --font-sans: "Inter", sans-serif;
  
  --color-brand: #d08726;
  --color-brand-hover: #b8751d;
  --color-brand-light: #fef9f2;
}

body {
  font-family: var(--font-sans);
  background-color: #f9fafb;
}

/* Custom utilities */
@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
