@import "tailwindcss";

@theme inline {
  --font-sans: "Inter", sans-serif;
  
  --color-brand: #d08726;
  --color-brand-hover: #b8751d;
  --color-brand-light: #fef9f2;
  --color-bg-subtle: #f8f6f2; /* Beige background */
  --color-text-muted: #6b7280;
  --color-border-subtle: #eaeaea;
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-bg-subtle);
  color: #111827;
}

/* Custom utilities */
@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
